body {
	/*background-color: #efefef;*/
	font-size: 18px;
	padding: 0em;
	margin: 0em; 
}

h1 {
	background: url();
	/*border: 1px solid #252525;*/
	/*margin: 5px 1px 20px 1em;*/
	/*margin-top: 50px;*/
	padding: 1em;
}